*{
  margin: 0;
  padding: 0;
}

:root{
  font-size: 62.5%;


}

body{
  display: grid;
  grid-template-columns: clamp(150px, 25vw, 350px) 1fr;
  grid-template-rows: 15vh 1fr;
  grid-template-areas: "sidebar header"
                      "sidebar main";
}

.header{
  grid-area: header;
  background-color: aqua;
}

.sidebar{
  grid-area: sidebar;
  background-color: bisque;
}

.main-container {
  grid-area: main;
  background-color: blue;
  height: 100rem;
}