*{
  margin: 0;
  padding: 0;
}

:root{
  font-size: 62.5%;

  --light-pink: 245, 210, 210;
  --light-yellow: 248, 247, 186;
  --light-green: 189, 227, 195;
  --light-blue: 163, 204, 218;
  --dark-text-color: 65, 30, 30;
  --light-text-color: 255, 230, 230;
}

body{
  display: grid;
  grid-template-columns: clamp(250px, 25vw, 350px) 1fr;
  grid-template-rows: 15vh 1fr;
  grid-template-areas: "sidebar header"
                      "sidebar main";
  gap: 2px;

  font-size: 1.6rem;
}

.header{
  grid-area: header;
  border: 1px solid darkgoldenrod;
}

/* 

sidebar section */
.sidebar{
  grid-area: sidebar;
  border:1px solid blueviolet;
  background-color: rgb(var(--light-green), 0.4);
  color: rgb(var(--dark-text-color));

  display: grid;
  grid-template-rows: 8rem 1fr;
  gap: 1rem;
}

.icon {
  /* filter: invert(0%) saturate(100%)  brightness(0%) ; */
  width: 3.6rem;
  filter: saturate(100%)  brightness(0%) invert(8%) sepia(13%) saturate(7064%) hue-rotate(334deg) brightness(98%) contrast(85%);
  justify-self: center;
}

.dashboard-logo {
  display: grid;
  grid-template-columns: 5rem 15rem;
  place-content: center;


}

.dashboard-logo > p {
  font-size: 3.2rem;
}


.nav {
  display: grid;
  grid-template-rows: 36rem 18rem;
  gap: 4rem;
  padding-left: 2em;
}

.navigations,
.prefs{
  display: grid;
}

.navigations {
  grid-template-rows: repeat(6, 1fr);
}

.prefs {
  grid-template-rows: repeat(3, 1fr);
}

.nav li {
  display: grid;
  grid-template-columns: 5rem 15rem;
  place-content: center;
  /* justify-content: ; */
}

.nav li > p {
  font-size: 2rem;
  /* padding-top: 0.5rem; */
  line-height: 1.5;
  display: flex;
  align-items: center;
}



.main-container {
  grid-area: main;
  border: 1px solid green;
  height: 100rem;
}