/* global section (used across page) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --blue-rgb: 140, 228, 255;
  --yellow-rgb: 254, 238, 145;
  --orange-rgb: 255, 162, 57;
  --red-rgb: 255, 86, 86;
  --white-rgb: 245, 245, 245;
  --dark-text-color: 29, 49, 56;
}

body {
  display: grid;
  grid-template-columns: clamp(250px, 25vw, 300px) 1fr;
  grid-template-rows: minmax(160px, 18vh) 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  /* gap: 2px; */

  font-family: Roboto;
  font-weight: 300;
  font-size: 1.6rem;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 500;
}

.prof-pic {
  grid-area: profpic;
  place-self: center;
  width: 6.4rem;
  border-radius: 50%;
}

.prof-pic-small {
  width: 4rem;
}

.icon {
  width: 3.2rem;
  filter: invert(14%) sepia(19%) saturate(1034%) hue-rotate(149deg)
    brightness(95%) contrast(90%);
  justify-self: center;
}

.icon-big {
  width: 4rem;
}

.icon-small {
  width: 2.4rem;
  align-self: center;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.woff2") format("woff2"),
    url("./fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-LightItalic.woff2") format("woff2"),
    url("./fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Light.woff2") format("woff2"),
    url("./fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 


header section */
.header,
.search-bar,
.profile,
.prof-menu,
.prof-action {
  display: grid;
}

.header {
  grid-area: header;

  grid-template-columns: minmax(20rem, 60rem) 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "search  prof-menu"
    "profile prof-action";
  gap: 1rem;

  background-color: rgb(var(--yellow-rgb), 1);
  padding: 2rem clamp(1rem, 2.2vw, 3.2rem) 0 3rem;
}

.search-bar {
  grid-area: search;
  grid-template-columns: 5rem clamp(20rem, 90%, 50rem);
  place-content: center start;
}

.search-bar input {
  background-color: rgb(var(--white-rgb), 0.8);
  border: 1px solid rgb(var(--dark-text-color), 0.2);
  border-radius: 1.5ch;

  color: rgb(var(--dark-text-color));
  font-size: 1.6rem;

  width: 100%;
  height: 3ch;
  padding: 0 1ch;
}

.search-bar .icon {
  justify-self: end;
  margin-right: 0.8rem;
}

.search-bar input:focus {
  outline: 2px solid rgba(var(--orange-rgb), 0.8);
  border: none;
}

.profile {
  grid-area: profile;
  grid-template-columns: 8rem 40rem;
  grid-template-rows: 3rem 5rem;
  grid-template-areas:
    "profpic greet"
    "profpic username";
}

.profile > .greet {
  display: flex;
  align-items: end;
  font-style: italic;
}

.user-name {
  width: 100%;
  font-size: 3rem;
  font-weight: 500;
}

.prof-menu {
  grid-area: prof-menu;
  justify-self: end;
  grid-template-columns: 3rem 8rem 8rem;
  grid-template-areas: "bell prof-pic username";
  place-content: center start;
}

.prof-menu .prof-pic-small {
  grid-area: prof-pic;
  justify-self: end;
}

.prof-menu > p {
  grid-area: username;
  align-content: center;
  padding-left: 1ch;
  font-weight: bold;
}

.prof-action {
  grid-area: prof-action;
  grid-template-columns: repeat(3, 10rem);
  place-content: center start;
  justify-self: end;
  gap: 1rem;
}

.prof-action > button {
  font-size: 1.6rem;
  height: 4ch;

  border: 2px solid rgb(var(--dark-text-color), 0.5);
  border-radius: 4rem;
  background-color: rgb(var(--white-rgb), 0.8);

  color: rgb(var(--dark-text-color), 0.8);
}

.prof-action > button:hover,
.prof-action > button:focus {
  background-color: rgb(var(--white-rgb), 0.3);
}

.prof-action > button:active {
  transform: scale(0.97);
  background-color: rgb(var(--yellow-rgb));
}

/* 

sidebar section */
.sidebar,
.dashboard-logo,
.nav,
.navigations,
.prefs,
.nav li {
  display: grid;
}

.sidebar {
  grid-area: sidebar;
  grid-template-rows: 8rem 1fr;
  gap: 1rem;

  background-color: rgb(var(--blue-rgb), 0.7);
  color: rgb(var(--dark-text-color));
}

.dashboard-logo {
  grid-template-columns: 5rem 15rem;
  place-content: center start;

  padding-left: 2rem;
}

.dashboard-logo > p {
  font-size: 3rem;
  font-weight: 500;

  display: flex;
  align-items: flex-end;
}

.nav {
  grid-template-rows: 32rem 18rem;
  gap: 4rem;

  padding-left: 2em;
}

.navigations {
  grid-template-rows: repeat(6, 1fr);
}

.prefs {
  grid-template-rows: repeat(3, 1fr);
}

.nav li {
  grid-template-columns: 5rem 15rem;
  place-content: center start;
}

.nav li > p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;

  display: flex;
  align-items: flex-end;
}

/* 

main section */

.main-container,
.projects,
.proj-card-container,
.proj-card,
.announce,
.ann-card,
.trends,
.trend-container,
.trend-card {
  display: grid;
}

.main-container {
  grid-area: main;
  background-color: rgb(var(--white-rgb));
  color: rgb(var(--dark-text-color));

  grid-template-columns: 3fr minmax(20rem, 1fr);
  grid-template-rows: 40rem 32rem 1fr;
  grid-template-areas:
    "project announce"
    "project trends"
    "project ...";
  column-gap: 1rem;
  padding-top: 2rem;
}

.projects {
  grid-area: project;
  grid-template-rows: 4rem auto;
  padding: 0 1rem;
}

.main-title {
  padding-left: 1rem;
}

.proj-card-container {
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.proj-card {
  position: relative;

  grid-template-rows: 4rem 10rem 5rem;

  border: 1px solid rgb(var(--orange-rgb));
  border-radius: 0.8rem;
  box-shadow: 3px 3px 5px 1px rgba(var(--orange-rgb), 0.15);

  height: 20rem;
  padding: 0 1rem 0 2rem;
}

.proj-title {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.proj-card > p {
  position: relative;
  overflow: hidden;
  line-height: 1.25;
}

.proj-icons {
  display: grid;
  grid-template-columns: 2rem 2rem 2rem;
  place-content: center right;
  gap: 2rem;
  padding-right: 2rem;
}

.proj-card::before {
  content: "";
  width: 1rem;
  height: inherit;
  background-color: rgb(var(--red-rgb));
  position: absolute;
  top: -0.1rem;
  left: -0.1rem;
  border-radius: 0.8rem 0 0 0.8rem;
}

.proj-card > p::after,
.ann-card > p::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  /* background: black; */
  background: linear-gradient(
    90deg,
    rgba(var(--white-rgb), 0) 0%,
    rgba(var(--white-rgb), 0.8) 40%,
    rgba(var(--white-rgb), 1) 50%
  );
  width: 10ch;
  height: 2ch;
  z-index: 1;
}

.announce {
  grid-area: announce;
  grid-template-rows: 3rem auto;
  row-gap: 1rem;
  padding-right: 1rem;
}

.ann-container {
  border: 1px solid rgb(var(--dark-text-color), 0.3);
  border-radius: 0.8rem;
  padding: 0rem 1.5rem;
  align-self: start;
}

.ann-card {
  grid-template-rows: 2.5ch 7rem;
  padding-top: 1.5rem;
  position: relative;
}

.ann-card > h3 {
  font-size: 1.6rem;
}

.ann-card > p {
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  opacity: 0.8;
  line-height: 1.2;
  height: 5rem;
}

.ann-card:not(:first-of-type)::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 90%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  top: 0;
  left: 5%;
  z-index: 1;
}

.trends {
  grid-area: trends;
  grid-template-rows: 3rem auto;
  padding-right: 1rem;
  row-gap: 1rem;
}

.trend-container {
  grid-template-rows: repeat(4, 6.5rem);
  border: 1px solid rgb(var(--dark-text-color), 0.3);
  border-radius: 0.8rem;
}
.trend-card {
  grid-template-columns: 6rem auto;
  grid-template-rows: 3rem 3rem;
  grid-template-areas:
    "prof-pic username"
    "prof-pic user-line";
}

.trend-card > .prof-pic {
  grid-area: prof-pic;
}

.trend-card .username {
  grid-area: username;
  align-self: end;
  font-size: 1.6rem;
  font-weight: 500;
}

.trend-card .user-line {
  grid-area: user-line;
  font-size: 1.4rem;
  font-style: italic;
}
