* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;

  --light-pink: 245, 210, 210;
  --light-yellow: 248, 247, 186;
  --light-green: 189, 227, 195;
  --light-blue: 163, 204, 218;
  --dark-text-color: 65, 30, 30;
  --light-text-color: 255, 230, 230;
}

body {
  display: grid;
  grid-template-columns: clamp(250px, 25vw, 350px) 1fr;
  grid-template-rows: 18vh 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  gap: 2px;

  font-size: 1.6rem;
}

.icon {
  /* filter: invert(0%) saturate(100%)  brightness(0%) ; */
  width: 3.6rem;
  filter: saturate(100%) brightness(0%) invert(8%) sepia(13%) saturate(7064%)
    hue-rotate(334deg) brightness(98%) contrast(85%);
  justify-self: center;
}

.icon-small {
  width: 2.4rem;
  align-self: center;
}

/* 

header section */

.header {
  grid-area: header;
  border: 1px solid darkgoldenrod;
  background-color: rgb(var(--light-yellow), 0.8);
  padding: 2rem 3rem 0 1.6rem;

  display: grid;
  grid-template-columns: minmax(40rem, 60rem) 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "search  prof-menu"
    "profile prof-action";

  gap: 1rem;
}

.search-bar {
  grid-area: search;
  display: grid;
  grid-template-columns: 3rem clamp(20rem, 90%, 50rem);
  align-items: center;
  justify-content: center;
}

.search-bar input {
  width: 100%;
  height: 3ch;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.5ch;
  background-color: rgb(250, 250, 250, 0.8);
  padding: 0 1ch;
  color: rgb(var(--dark-text-color));

  font-size: 1.6rem;
}

.search-bar input:focus {
  outline: 1px solid rgba(220, 220, 220);
}

.profile {
  grid-area: profile;
  display: grid;
  grid-template-columns: 8rem 40rem;
  grid-template-rows: 3rem 5rem;
  grid-template-areas:
    "profpic greet"
    "profpic username";

  padding-left: 3rem;
}

.profile > .greet {
  display: flex;
  align-items: end;
}

.prof-pic {
  grid-area: profpic;
  place-self: center;
  width: 6.4rem;
  border-radius: 50%;
}

.prof-pic-small {
  width: 4rem;
}

.user-name {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
}

.prof-menu {
  grid-area: prof-menu;
  justify-self: end;
  display: grid;
  grid-template-columns: 3rem 8rem 8rem;
  place-content: center start;
}

.prof-menu .prof-pic-small {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: end;
}

.prof-menu > p {
  align-content: center;
  padding-left: 1ch;
  font-size: 1.6rem;
  font-weight: bold;
}

.prof-action {
  grid-area: prof-action;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  gap: 1rem;
  /* padding: 0 1rem; */
  place-content: center start;
}

.prof-action > button {
  font-size: 1.6rem;
  height: 4ch;
  width: min(100%, 10rem);
  border-radius: 4rem;
  border: 1px solid rgb(var(--dark-text-color));
  background-color: rgb(var(--light-yellow), 0.1);
}

.prof-action > button:hover,
.prof-action > button:focus {
  background-color: rgb(var(--light-yellow));
}

.prof-action > button:active {
  transform: scale(0.97);
}

/* 

sidebar section */
.sidebar {
  grid-area: sidebar;
  border: 1px solid blueviolet;
  background-color: rgb(var(--light-green), 0.4);
  color: rgb(var(--dark-text-color));

  display: grid;
  grid-template-rows: 8rem 1fr;
  gap: 1rem;
}

.dashboard-logo {
  display: grid;
  grid-template-columns: 5rem 15rem;
  place-content: center;
}

.dashboard-logo > p {
  font-size: 3.2rem;
  font-weight: bold;
}

.nav {
  display: grid;
  grid-template-rows: 36rem 18rem;
  gap: 4rem;
  padding-left: 2em;
}

.navigations,
.prefs {
  display: grid;
}

.navigations {
  grid-template-rows: repeat(6, 1fr);
}

.prefs {
  grid-template-rows: repeat(3, 1fr);
}

.nav li {
  display: grid;
  grid-template-columns: 5rem 15rem;
  place-content: center;
  /* justify-content: ; */
}

.nav li > p {
  font-size: 2rem;
  /* padding-top: 0.5rem; */
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.main-container {
  grid-area: main;
  border: 1px solid green;
  height: 100rem;
}
