* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --light-pink: 245, 210, 210;
  --light-yellow: 248, 247, 186;
  --light-green: 189, 227, 195;
  --light-blue: 163, 204, 218;
  --dark-text-color: 65, 30, 30;
  --light-text-color: 255, 230, 230;
}

body {
  display: grid;
  grid-template-columns: clamp(250px, 25vw, 300px) 1fr;
  grid-template-rows: minmax(160px, 18vh) 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  gap: 2px;

  font-size: 1.6rem;
  min-height: 100vh;
}

.icon {
  /* filter: invert(0%) saturate(100%)  brightness(0%) ; */
  width: 3.6rem;
  filter: saturate(100%) brightness(0%) invert(8%) sepia(13%) saturate(7064%)
    hue-rotate(334deg) brightness(98%) contrast(85%);
  justify-self: center;
}

.icon-small {
  width: 2.4rem;
  align-self: center;
}

/* 

header section */

.header {
  grid-area: header;
  border: 1px solid darkgoldenrod;
  background-color: rgb(var(--light-yellow), 0.8);
  padding: 2rem 3rem 0 1.6rem;

  display: grid;
  grid-template-columns: minmax(20rem, 60rem) 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "search  prof-menu"
    "profile prof-action";

  gap: 1rem;
}

.search-bar {
  grid-area: search;
  display: grid;
  grid-template-columns: 3rem clamp(20rem, 90%, 50rem);
  align-items: center;
  justify-content: center;
}

.search-bar input {
  width: 100%;
  height: 3ch;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.5ch;
  background-color: rgb(250, 250, 250, 0.8);
  padding: 0 1ch;
  color: rgb(var(--dark-text-color));

  font-size: 1.6rem;
}

.search-bar input:focus {
  outline: 1px solid rgba(220, 220, 220);
}

.profile {
  grid-area: profile;
  display: grid;
  grid-template-columns: 8rem 40rem;
  grid-template-rows: 3rem 5rem;
  grid-template-areas:
    "profpic greet"
    "profpic username";

  padding-left: 3rem;
}

.profile > .greet {
  display: flex;
  align-items: end;
}

.prof-pic {
  grid-area: profpic;
  place-self: center;
  width: 6.4rem;
  border-radius: 50%;
}

.prof-pic-small {
  width: 4rem;
}

.user-name {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
}

.prof-menu {
  grid-area: prof-menu;
  justify-self: end;
  display: grid;
  grid-template-columns: 3rem 8rem 8rem;
  place-content: center start;
}

.prof-menu .prof-pic-small {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: end;
}

.prof-menu > p {
  align-content: center;
  padding-left: 1ch;
  font-size: 1.6rem;
  font-weight: bold;
}

.prof-action {
  grid-area: prof-action;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  gap: 1rem;
  /* padding: 0 1rem; */
  place-content: center start;
}

.prof-action > button {
  font-size: 1.6rem;
  height: 4ch;
  width: min(100%, 10rem);
  border-radius: 4rem;
  border: 1px solid rgb(var(--dark-text-color));
  background-color: rgb(var(--light-yellow), 0.1);
}

.prof-action > button:hover,
.prof-action > button:focus {
  background-color: rgb(var(--light-yellow));
}

.prof-action > button:active {
  transform: scale(0.97);
}

/* 

sidebar section */
.sidebar {
  grid-area: sidebar;
  border: 1px solid blueviolet;
  background-color: rgb(var(--light-green), 0.4);
  color: rgb(var(--dark-text-color));

  display: grid;
  grid-template-rows: 8rem 1fr;
  gap: 1rem;
}

.dashboard-logo {
  display: grid;
  grid-template-columns: 5rem 15rem;
  place-content: center;
}

.dashboard-logo > p {
  font-size: 3.2rem;
  font-weight: bold;
}

.nav {
  display: grid;
  grid-template-rows: 36rem 18rem;
  gap: 4rem;
  padding-left: 2em;
}

.navigations,
.prefs {
  display: grid;
}

.navigations {
  grid-template-rows: repeat(6, 1fr);
}

.prefs {
  grid-template-rows: repeat(3, 1fr);
}

.nav li {
  display: grid;
  grid-template-columns: 5rem 15rem;
  place-content: center;
  /* justify-content: ; */
}

.nav li > p {
  font-size: 2rem;
  /* padding-top: 0.5rem; */
  line-height: 1.5;
  display: flex;
  align-items: center;
}

/* 

main section */

.main-container {
  grid-area: main;
  border: 1px solid green;

  display: grid;
  grid-template-columns: 3fr minmax(20rem, 1fr);
  grid-template-rows: 40rem 25rem 1fr;
  grid-template-areas:
    "project announce"
    "project trends"
    "project ...";
  column-gap: 1rem;
  padding-top: 1rem;
}

.projects {
  grid-area: project;
  display: grid;
  grid-template-rows: 4rem auto;
  padding: 0 1rem;
}

.main-title{
  
}

.proj-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.proj-card {
  display: grid;
  grid-template-rows: 4rem auto 5rem;
  height: 20rem;

  position: relative;

  border: 1px solid black;
  border-radius: 0.8rem;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.15);
  padding: 0 1rem 0 2rem;

}

.proj-title{
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.proj-card > p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.proj-icons {
  display: grid;
  grid-template-columns: 2rem 2rem 2rem;
  place-content: center right;
  gap: 2rem;
  padding-right: 2rem;
}

.proj-card::before {
  content: "";
  width: 1rem;
  height: inherit;
  background-color: red;
  position: absolute;
  top: -0.1rem;
  left: -0.1rem;
  border-radius: 0.8rem 0 0 0.8rem;
}


.announce {
  grid-area: announce;
  display: grid;
  grid-template-rows: 3rem auto;
  row-gap: 1rem;
  padding-right: 1rem;
}

.ann-container {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0rem 1.5rem;
  align-self: start;
  /* position: relative; */
}

.ann-card {
  display: grid;
  grid-template-rows: 2.5ch 7rem;
  padding-top: 1.5rem;
  position: relative;
}

.ann-card > h3 {
  font-size: 1.6rem;
}

.ann-card > p {
  /* white-space: wrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  font-size: 1.4rem;
  line-height: 1.2;
  height: 5rem;
  /* padding-bottom: 1.5rem; */
}

.ann-card > p::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 40%,rgba(255, 255, 255, 1) 50%);
  width: 10ch;
  height: 2ch;
  z-index: 1;
}

.ann-card:not(:first-of-type)::after {
  /* border-image: 2px solid linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%); */
  content: "";
  position: absolute;
  height: 1px;
  width: 90%;
  background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
  top: 0;
  left: 5%;
  z-index: 1;
}

.trends {
  grid-area: trends;
}
